
body {
background-color: #D1F2EB;
}

h1 {
	background-color: #76D7C4;
	padding-left: 20px;
	padding-bottom: 5px;
}

div.container {
	background-color: #76D7C4;
	margin-top: 100px;
	padding-top: 15px;
	padding-bottom: 15px;

}

h2 {
	text-align: center;	
}

h5 {
	text-align: center;
}

div.btn-group-toggle {
	text-align: center;
}